@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-rangkai-primary: oklch(0.7065 0.1971 45.44);
  --color-background: 0 0% 100%;
  --color-foreground: 0 0% 3.9%;
  --color-card: 0 0% 100%;
  --color-card-foreground: 0 0% 3.9%;
  --color-popover: 0 0% 100%;
  --color-popover-foreground: 0 0% 3.9%;
  --color-primary: 24 100% 50%;
  --color-primary-foreground: 0 0% 98%;
  --color-secondary: 0 0% 96.1%;
  --color-secondary-foreground: 0 0% 9%;
  --color-muted: 0 0% 96.1%;
  --color-muted-foreground: 0 0% 45.1%;
  --color-accent: 24 100% 50%;
  --color-accent-foreground: 0 0% 98%;
  --color-destructive: 0 84.2% 60.2%;
  --color-destructive-foreground: 0 0% 98%;
  --color-border: 0 0% 89.8%;
  --color-input: 0 0% 89.8%;
  --color-ring: 24 100% 50%;
  --color-chart-1: 24 100% 50%;
  --color-chart-2: 30 100% 60%;
  --color-chart-3: 36 100% 70%;
  --color-chart-4: 42 100% 80%;
  --color-chart-5: 48 100% 90%;
  --radius: 0.5rem;
  --color-sidebar-background: 0 0% 98%;
  --color-sidebar-foreground: 240 5.3% 26.1%;
  --color-sidebar-primary: 24 100% 50%;
  --color-sidebar-primary-foreground: 0 0% 98%;
  --color-sidebar-accent: 24 100% 95%;
  --color-sidebar-accent-foreground: 24 100% 10%;
  --color-sidebar-border: 220 13% 91%;
  --color-sidebar-ring: 24 100% 50%;
}

@theme dark {
  --color-rangkai-primary: oklch(0.7065 0.1971 45.44);
  --color-background: 0 0% 3.9%;
  --color-foreground: 0 0% 98%;
  --color-card: 0 0% 3.9%;
  --color-card-foreground: 0 0% 98%;
  --color-popover: 0 0% 3.9%;
  --color-popover-foreground: 0 0% 98%;
  --color-primary: 24 100% 50%;
  --color-primary-foreground: 0 0% 98%;
  --color-secondary: 0 0% 14.9%;
  --color-secondary-foreground: 0 0% 98%;
  --color-muted: 0 0% 14.9%;
  --color-muted-foreground: 0 0% 63.9%;
  --color-accent: 24 100% 50%;
  --color-accent-foreground: 0 0% 98%;
  --color-destructive: 0 62.8% 30.6%;
  --color-destructive-foreground: 0 0% 98%;
  --color-border: 0 0% 14.9%;
  --color-input: 0 0% 14.9%;
  --color-ring: 24 100% 50%;
  --color-chart-1: 24 100% 50%;
  --color-chart-2: 30 100% 60%;
  --color-chart-3: 36 100% 70%;
  --color-chart-4: 42 100% 80%;
  --color-chart-5: 48 100% 90%;
  --color-sidebar-background: 240 5.9% 10%;
  --color-sidebar-foreground: 240 4.8% 95.9%;
  --color-sidebar-primary: 24 100% 50%;
  --color-sidebar-primary-foreground: 0 0% 100%;
  --color-sidebar-accent: 24 100% 15%;
  --color-sidebar-accent-foreground: 24 100% 95%;
  --color-sidebar-border: 240 3.7% 15.9%;
  --color-sidebar-ring: 24 100% 50%;
}

@layer base {
  :root.dark {
    color-scheme: dark;
  }
  
  :root.light {
    color-scheme: light;
  }
}

body {
  font-family: 'Poppins';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    scroll-behavior: smooth;
  }
}
